<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Final Project 507: COVID stats BY Shaoqing Yu
    </h1>
    
    <p>Click to see charts on different pages</p>
    
    <h1><a href="plot1">Treemap of monthly increase</a></h1>
    <h1><a href="plot2">Treemap of global cases</a></h1>
    <h1><a href="plot3">Line chart of montly increase</a></h1>
    <h1><a href="plot4">Line chart of culmulative cases and cumulative deaths</a></h1>

</body>
</html>